@using AKDEMIC.INTRANET.Areas.Admin.Models.EventViewModels
@model EventViewModel
@{
    ViewData["Title"] = "Nuevo";
    ViewData["SubTitle"] = "Nuevo Evento";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData {Name="Eventos",Action="Index", Controller="Event",Area="Admin"},
new BreadcrumbViewData { Name = ViewData["SubTitle"].ToString() }

};
    ViewData["BackUrl"] = Url.Action("Index", "Event", new { area = "Admin" });
}
<div class="m-content">
    <input id="Id" type="hidden" value="@Model" />
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewData["SubTitle"]
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <form id="create-form" enctype="multipart/form-data" asp-controller="Event" asp-action="AddEvent">
                @Html.Partial("_EventForm", Model)
            </form>
        </div>
    </div>
</div>

<div id="modal_file" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form_file">
                <input type="hidden" name="Id" />
                <div class="modal-header">
                    <h5 class="modal-title">
                        Añadir Archivo
                    </h5>
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label>Nombre</label>
                        <input type="text" class="form-control m-input" name="Name" required />
                    </div>
                    <div class="form-group m-form__group">
                        <label>Archivo</label>
                        <div class="custom-file">
                            <input class="form-control m-input custom-file-input" name="File" type="file" accept="application/pdf , image/png , image/jpeg, application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" placeholder="Seleccionar archivo" required>
                            <label class="custom-file-label selected">Seleccionar Archivo...</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-save-file">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Styles{
    <link href="~/css/views/event/add.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/areas/admin/event/add.js" asp-append-version="true" type="text/javascript"></script>
}