@model AKDEMIC.INTRANET.Areas.Admin.Models.EvaluationReportViewModels.EvaluationReportDetailViewModel
@{
    ViewData["Title"] = "Detalle";
    ViewData["Breadcrumbs"] = new[] {
    new BreadcrumbViewData { Name = "Buscador de Actas" ,Controller = "EvaluationReport" , Action ="Search" , Area="Admin"  },
    new BreadcrumbViewData { Name = "Actas Emitidas" ,Controller = "EvaluationReport" , Action ="EvaluationReportIssued" , Area="Admin"  },
    new BreadcrumbViewData { Name = "Detalle" }
    };
    var EvaluationReportId = ViewBag.EvaluationReportId;
}

<input id="EvaluationReportId" value="@EvaluationReportId" hidden />
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Lista de Estudiantes
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row col-12">
                <span class="m--font-boldest2">CURSO :</span>&emsp;@Model.Course<br />
            </div>
            <div class="row col-12">
                <span class="m--font-boldest2">SECCI&Oacute;N : </span>&emsp;<span>@Model.Section</span>
            </div>
            <div class="row col-12">
                <span class="m--font-boldest2">COD. ACTA :</span>&emsp;<span>@Model.EvaluationReportCode</span>
            </div>
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-4">
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/admin/evaluationreport/detail.js"></script>
}

