@using AKDEMIC.CORE.Helpers;
@inject AKDEMIC.SERVICE.Services.Generals.Interfaces.IConfigurationService _configurationService
@{
    var MethodTypeRegistryPatternCreation = Boolean.Parse(await _configurationService.GetValueByKey(AKDEMIC.CORE.Helpers.ConstantHelpers.Configuration.DegreeManagement.METHOD_TYPE_REGISTRY_PATTERN_CREATION));
}
<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
   

    @if (User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN) || User.IsInRole(ConstantHelpers.ROLES.ADMIN_POSDEGREE))
    {
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Home" asp-action="Index">
            <a asp-controller="Home" asp-action="Index" asp-route-area="" class="m-menu__link ">
                <i class="m-menu__link-icon la la-home"></i>
                <span class="m-menu__link-text">
                    Inicio
                </span>
            </a>
        </li>

        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ForeignUniversityOrigin" asp-action="Index">
            <a asp-controller="Master" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-2"></i>
                <span class="m-menu__link-text">
                    Informacion Academica
                </span>
            </a>
        </li>
            <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ForeignUniversityOrigin" asp-action="Index">
            <a asp-controller="Master" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-2"></i>
                <span class="m-menu__link-text">
                    Informacion Economica
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ProjectDirector" asp-action="Index">
            <a asp-controller="Student" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-user"></i>
                <span class="m-menu__link-text">
                    Alumnos
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ProjectDirector" asp-action="Index">
            <a asp-controller="User" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-user"></i>
                <span class="m-menu__link-text">
                    Usuarios
                </span>
            </a>
        </li>

        @if (MethodTypeRegistryPatternCreation)
        {
            <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="DegreeRequirement" asp-action="Index">
                <a asp-controller="DegreeRequirement" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-folder-2"></i>
                    <span class="m-menu__link-text">
                        Comprobante de pagos
                    </span>
                </a>
            </li>

            <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ValidationDegreeRequirement" asp-action="Index">
                <a asp-controller="ValidationDegreeRequirement" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-folder-2"></i>
                    <span class="m-menu__link-text">
                        Conceptos de Pagos 
                    </span>
                </a>
            </li>
        }


        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="RegistryPattern" asp-action="Index">
            <a asp-controller="RegistryPattern" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-2"></i>
                <span class="m-menu__link-text">
                    Motivos de pagos 
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="GenerateRelationDegree" asp-action="Index">
            <a asp-controller="GenerateRelationDegree" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-3"></i>
                <span class="m-menu__link-text">
                    Registrar  Pagos
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="RegistryPatternReview" asp-action="Index">
            <a asp-controller="RegistryPatternReview" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-3"></i>
                <span class="m-menu__link-text">
                    Pagos recientes
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="GenerationFormatRegisterDegree" asp-action="Index">
            <a asp-controller="GenerationFormatRegisterDegree" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-3"></i>
                <span class="m-menu__link-text">
                    Registro de verificacion
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Diploma" asp-action="Index">
            <a asp-controller="Diploma" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-2"></i>
                <span class="m-menu__link-text">
                    Historial
                </span>
            </a>
        </li>

    }
    <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-list-3"></i>
            <span class="m-menu__link-text">
                Gestion
            </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu ">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Semestre" asp-action="Index">
                    <a asp-controller="Semestre" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                         Semestre
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="TypeEnrollment" asp-action="Index">
                    <a asp-controller="TypeEnrollment" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                            type Matricula
                        </span>
                    </a>
                </li>

                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Asignatura" asp-action="Index">
                    <a asp-controller="Asignatura" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                            Cursos
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Teacher" asp-action="Index">
                    <a asp-controller="Teacher" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                            Docentes
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="" asp-action="Index">
                    <a asp-controller="" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                            Registro de Notas
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </li>

    <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-list-3"></i>
            <span class="m-menu__link-text">
                Matricula
            </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu ">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                    <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                            Matricula regular 
                        </span>
                    </a>
                </li>
            </ul>
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                    <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">
                            Turno de Matricula
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    @if (User.IsInRole(ConstantHelpers.ROLES.CAREER_DIRECTOR) || User.IsInRole(ConstantHelpers.ROLES.ACADEMIC_COORDINATOR) || User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN) || User.IsInRole(ConstantHelpers.ROLES.DEGREE_ADMIN) || User.IsInRole(ConstantHelpers.ROLES.REPORT_QUERIES))
    {
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-list-3"></i>
                <span class="m-menu__link-text">
                    Reportes
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Reportes
                            </span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                        <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Lista de pagos en Excel
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Lista de estudiantes por Maestria
                            </span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportTitleByModality" asp-action="Index">
                        <a asp-controller="ReportTitleByModality" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Reporte de pagos por fecha
                            </span>
                        </a>
                    </li>

                    <li class="m-menu__item" aria-haspopup="true" is-active-route asp-controller="AccessSystemReport" asp-action="Index">
                        <a asp-area="Admin" asp-controller="AccessSystemReport" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Reporte de historial de pagos por Alumnos
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>

    }
</ul>