@using AKDEMIC.CORE.Helpers;
@inject AKDEMIC.SERVICE.Services.Generals.Interfaces.IConfigurationService _configurationService
@{
    var MethodTypeRegistryPatternCreation = Boolean.Parse(await _configurationService.GetValueByKey(AKDEMIC.CORE.Helpers.ConstantHelpers.Configuration.DegreeManagement.METHOD_TYPE_REGISTRY_PATTERN_CREATION));
}
<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

    @if (User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN) || User.IsInRole(ConstantHelpers.ROLES.ADMIN_POSDEGREE))
    {
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Home" asp-action="Index">
            <a asp-controller="Home" asp-action="Index" asp-route-area="" class="m-menu__link ">
                <i class="m-menu__link-icon la la-home"></i>
                <span class="m-menu__link-text">
                    Inicio
                </span>
            </a>
        </li>

        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ForeignUniversityOrigin" asp-action="Index">
            <a asp-controller="Master" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-2"></i>
                <span class="m-menu__link-text">
                    Registro de Maestrias
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-users"></i>
                <span class="m-menu__link-text">
                    Gestion de Usuarios
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Gestion de Usuarios
                            </span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                        <a asp-controller="User" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-user-add"></i>
                            <span class="m-menu__link-text">
                                Registro de Estudiantes 
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Listado de estudiantes 
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-analytics"></i>
                <span class="m-menu__link-text">
                    Gestión de Pagos
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Gestión de Pagos
                            </span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                        <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Registro de Pagos
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Control de Pagos
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-folder-1"></i>
                <span class="m-menu__link-text">
                    Gestión de Notas
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Gestión de Notas
                            </span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                        <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Registro de Notas
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Control de Notas
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Listado de Notas
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-interface-3"></i>
                <span class="m-menu__link-text">
                    Gestión de Matricula 
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Gestión de Matricula
                            </span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                        <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Registro de Matricula
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Historial de Matricula
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Listado de Matricula
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

    }
    
    <!--Opciones para Estudiante de Posgrado-->
    @if (User.IsInRole(ConstantHelpers.ROLES.STUDENT_POSDEGREE) || User.IsInRole(ConstantHelpers.ROLES.ADMIN_POSDEGREE) || User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN))
    {
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Diploma" asp-action="Index">
            <a asp-controller="Diploma" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-folder-2"></i>
                <span class="m-menu__link-text">
                    Historial de notas
                </span>
            </a>
        </li>
        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="Diploma" asp-action="Index">
            <a asp-controller="Diploma" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-file-1"></i>
                <span class="m-menu__link-text">
                    Matrícula   
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-list-3"></i>
                <span class="m-menu__link-text">
                    Reportes de Estudiante
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Reportes de Estudiante
                            </span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelor" asp-action="Index">
                        <a asp-controller="ReportBachelor" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Lista de estudiantes
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index">
                        <a asp-controller="ReportBachelorsWithOutTUPA" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Reporte de pagos
                            </span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-controller="ReportTitleByModality" asp-action="Index">
                        <a asp-controller="ReportTitleByModality" asp-action="Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-share"></i>
                            <span class="m-menu__link-text">
                                Reporte de adeudo
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }
</ul>