@{
    ViewBag.Title = "Exámenes para Recuperación de Nota";
    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData { Name = ViewBag.Title, Area = null, Controller = null, Action = null }
    };
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-3">
                                <label>Estado</label>
                                <select class="m-select2" id="status">
                                    <option>Todos</option>
                                    @foreach (var item in ConstantHelpers.GRADE_RECOVERY_EXAM_STATUS.VALUES)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table class="table table-hover table-striped table-bordered" id="exams-datatable"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/teacher/graderecovery/index.js" asp-append-version="true"></script>
}