* {
    /*box-sizing: border-box;*/
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
}

.area-name {
    font-family: Arial;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: -0.5px;
}

.office-name {
    padding-top: 0px !important;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-family: Arial;
    text-decoration:underline;
}

img{
    max-width:120px;
}

.cleared{
    text-align:center;
}

.detail-office {
    font-family: Arial;
    font-size: 13px;
}

.document-body{
    margin-top:20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #706b6b;
}

td, th {
    border-top: 1px solid #706b6b;
    border-bottom: 1px solid #706b6b;
    text-align: left;
    padding:10px;
}

u{
    font-family:Arial;
    font-size:16px;
}
