* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/
.document-header {
    border-bottom: 1px solid black
}

    .document-header div {
        text-align: center;
    }

.company-name {
    font-family: Georgia;
    font-size: 20px;
    padding: 10px;
}

.area-name {
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.office-name {
    padding-top: 0px !important;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-family: Arial;
}

.address-text {
    padding: 0 0 10px 0;
    font-size: 10px;
}

.header-image.left {
    float: left;
    max-height: 100px;
    max-width: 100px;
}

.header-image.right {
    float: right;
    max-height: 100px;
    max-width: 100px;
}

.student-image.right {
    float: right;
    max-height: 150px;
    max-width: 130px;
}

.table-details {
    width: 100%;
    margin-top: 10px;
}

.first {
    width: 200px;
    font-weight: bold;
}

.document-body {
    padding-top: 20px;
    font-family: Arial;
}

.document-title {
    font-weight: bold;
    font-size: 15px;
}

p {
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
}
