* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Verdana, Geneva, Tahoma, sans-serif;
}

.document-header {
    border-bottom: 1px solid black
}

    .document-header div {
        text-align: center;
    }

.company-name {
    font-size: 20px;
    padding: 10px;
}

.area-name {
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}

.office-name {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.address-text {
    padding: 10px 0 10px 0;
    font-size: 10px;
}

.cited-text {
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    padding: 20px;
}

.record-name {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.register-text {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0
}

.subscriber-text {
    font-weight: bold;
}

.header-image.left {
    float: left;
    max-height: 100px;
    max-width: 100px;
}

.header-image.right {
    float: right;
    max-height: 100px;
    max-width: 100px;
}

.student-image.right {
    float: right;
    max-height: 150px;
    max-width: 130px;
}

.double-border {
    padding: 2em;
    position: relative;
    margin: 0 auto;
}
