@model AKDEMIC.INTRANET.Areas.Admin.Models.GradeCorrectionViewModels.CorrectionViewModel
@{
    ViewData["Title"] = "Corrección de Sustitutorio";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = "Corrección de Notas", Controller = "GradeCorrection", Action = "Index", Area = "Admin"},
new BreadcrumbViewData { Name = "Corrección de Sustitutorio" }
};
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Lista de Solicitudes Realizadas
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-4">
                                <label>Periodo Académico:</label>
                                <select id="select_term" class="m-select2"></select>
                            </div>
                            <div class="form-group m-form__group col-xl-4">
                                <label>Filtrar Estado:</label>
                                <select id="state-select" class="m-select2">
                                    <option value="null">Todos</option>
                                    <option value="1">Pendientes</option>
                                    <option value="2">Aprobados</option>
                                    <option value="3">Desaprobados</option>
                                </select>
                            </div>
                            <div class="form-group m-form__group col-xl-4">
                                <label>&emsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">

                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="ajax_data"></table>
        </div>
    </div>
</div>


<div class="modal fade" id="request_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">
                    Información adicional de la solicitud
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="create_msg">
                    <div class="m-alert__icon">
                        <i class="la la-warning"></i>
                    </div>
                    <div class="m-alert__text" id="create_msg_txt">
                        Oh rayos! Ocurri&oacute; un error en el servidor
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="form-group m-form__group m-form__group--first">
                    <label>Fecha de solicitud</label>
                    <input id="date" class="form-control" disabled />
                </div>

                <div class="form-group m-form__group">
                    <label>Docente</label>
                    <input id="teacher" class="form-control" disabled />
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-md-6 m-form__group-sub">
                        <label>Nota previa</label>
                        <input id="prev-grade" class="form-control" disabled />
                    </div>
                    <div class="col-md-6 m-form__group-sub">
                        <label>Nueva nota</label>
                        <input id="new-grade" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group m-form__group">
                    <label>Motivo / Raz&oacute;n</label>
                    <textarea id="observations" class="form-control disable-resize" disabled></textarea>
                </div>

                <div id="file-container" class="form-group m-form__group m-form__group--last m-0">
                    <label>
                        Descargue el archivo adjunto <a id="file-url" href="#" download>aqui</a>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/admin/gradecorrection/sustitutorio.js" asp-append-version="true"></script>
}