@using AKDEMIC.INTRANET.Areas.Student.Models.AbsenceJustificationViewModels
@model AbsenceJustificationViewModel
@{
    ViewBag.Title = "Justificación de Inasistencias";
    ViewBag.SubTitle = "Listado de solicitudes realizadas";
    ViewBag.Breadcrumbs = new[] {
new BreadcrumbViewData { Name = ViewBag.Title }
};
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewBag.SubTitle
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-bottom-20">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-4">
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        @*<button id="btn-add" class="btn btn-primary btn-sm m-btn m-btn--icon" data-toggle="modal" data-target="#create-modal">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Nueva solicitud</span>
                            </span>
                        </button>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>*@
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="add-modal-label">
                    Solicitud de Justificación de Inasistencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create-form" class="m-form m-form--state" asp-controller="AbsenceJustification" asp-action="Create" asp-area="Student" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="create-form-alert">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text" id="create-form-alert-txt">
                            Oh rayos! Ocurri&oacute; un error en el servidor
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="m-form__group-sub col-lg-12">
                            <label class="form-control-label">Curso</label>
                            <select class="form-control select2-courses" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="m-form__group-sub col-lg-12">
                            <label asp-for="ClassStudentId" class="form-control-label"></label>
                            <select asp-for="ClassStudentId" class="form-control select2-classes" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="m-form__group-sub col-lg-12">
                            <label asp-for="Justification" class="form-control-label"></label>
                            <textarea asp-for="Justification" class="form-control" required maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="m-form__group-sub col-lg-12">
                            <label asp-for="File" class="form-control-label"></label>
                            <div class="custom-file">
                                <input asp-for="File" class="form-control m-input custom-file-input" placeholder="Archivo de apoyo" accept="image/*,application/pdf" type="file" />
                                <label class="custom-file-label selected" for="File">Selecciona un Archivo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button id="btnCreate" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                        <span class="ladda-label">Guardar</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="detail-modal-label">
                    Solicitud de justificaci&oacute;n de inasistencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="detail-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-control-label">Curso</label>
                            <input id="detail-course" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label asp-for="ClassStudentId" class="form-control-label"></label>
                            <input id="detail-class" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Fecha de Solicitud</label>
                            <input id="detail-date" class="form-control" disabled />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Estado</label>
                            <input id="detail-status" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Justificaci&oacute;n</label>
                        <textarea id="detail-description" class="form-control" required disabled style="height: 130px; resize: none;"></textarea>
                    </div>

                    <div class="form-group" id="teacher-observation">
                        <label class="form-control-label">Observaci&oacute;n del docente</label>
                        <textarea id="detail-observation" class="form-control" required disabled style="height: 130px; resize: none;"></textarea>
                    </div>

                    <div id="fileDiv" class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-control-label col-form-label">Archivo de apoyo</label>
                            (<a id="file-url" href="#" target="_blank"><span><i class="la la-download"></i><span>Descargar</span></span></a>)
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/student/absencejustification/index.js"></script>
}
