@{
    ViewData["Title"] = "Reporte de encuesta";
    ViewData["SubTitle"] = "Detalle de la encuesta";
    ViewData["Breadcrumbs"] = new[] {
        new BreadcrumbViewData { Name = "Lista de encuestas" , Area="Admin",Controller="ReportSurvey", Action="Index" },
new BreadcrumbViewData { Name = ViewData["SubTitle"].ToString() }
    };
    var SurveyId = ViewBag.SurveyId;
    decimal progressValue = (decimal)ViewBag.ProgressValue;
}

<input id="SurveyId" type="hidden" value="@SurveyId" />
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption" style="width:100%">
                        <div class="m-portlet__head-title" style="width:100%;display: block;">
                            <h3 class="m-portlet__head-text" style="display:initial;"><i class="m-menu__link-icon flaticon-statistics">&ensp;</i>Reporte de Encuesta General</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <a title="Descargar consolidado" class="ml-1 btn btn-primary m-btn--icon" asp-area="Admin" asp-controller="ReportSurvey" asp-action="GetExcelReportAdvanced" asp-route-surveyId="@SurveyId">
                            <span>
                                <i class="la la-file-excel-o"></i>
                                <span>Excel</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div>
                        <label>Progreso de la encuesta</label>
                        <div class="progress" style="height:20px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: @(progressValue)%" aria-valuenow="@progressValue" aria-valuemin="0" aria-valuemax="100">@progressValue %</div>
                        </div>
                    </div>
                    <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="row">
                                    <div class="form-group m-form__group col-sm-4">
                                        <label>&emsp;</label>
                                        <div class="m-input m-input-icon m-input-icon--left">
                                            <input type="text" id="search" class="form-control m-input m-input--pill m-input--solid" placeholder='Buscar...'>
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group col-sm-4">
                                        <label>Estado</label>
                                        <select id="answered" class="form-control m-input m-select2">
                                            <option value="0">Todos</option>
                                            <option value="1">Completadas</option>
                                            <option value="2">Pendientes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered" id="data-table"></table>
                </div>
            </div>
        </div>
        <div id="questionsLoader" class="m-loader m-loader--brand" style="width: 100%;margin-bottom: 17px;"></div>
        <div id="questions" style="width:100%;"></div>
    </div>
</div>

@section Styles{
    <link href="~/css/areas/admin/report/charts.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/lib/highcharts/highcharts.js"></script>
    <script src="~/js/lib/highcharts/highcharts-more.js"></script>
    <script src="~/js/lib/highcharts/exporting.js"></script>
    <script src="~/js/lib/highcharts/export-data.js"></script>
    <script src="~/js/lib/jquery.fileDownload/jquery.fileDownload.min.js"></script>
    <script src="~/js/areas/admin/report_survey/getgeneralsurveydetail.js" asp-append-version="true"></script>
}
