
@{
    ViewData["Title"] = "Solicitud de Trámite";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = "Solicitud de Trámite"}
};
}
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Solicitud de Trámite
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label text-right">Tipo de constancia:</label>
                    <div class="col-lg-6">
                        <select id="type_select" class="m-select2"></select>
                        <span class="form-text text-muted">Seleccione el tipo de constancia a generar</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label text-right">Estudiante:</label>
                    <div class="col-lg-6">
                        <select id="student_select" class="m-select2"></select>
                        <span class="form-text text-muted">Busque al estudiante por código o nombre</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label text-right">Personal de Registros Acad&eacute;micos:</label>
                    <div class="col-lg-6">
                        <select id="academic_record_select" class="m-select2">
                            <option value="">Seleccionar usuario</option>
                        </select>
                        <span class="form-text text-muted">Busque al usuario de registros acad&eacute;micos</span>
                    </div>
                </div>
                <div class="form-group row term-select" style="display:none">
                    <label class="col-lg-3 col-form-label text-right">Semestre:</label>
                    <div class="col-lg-6">
                        <select id="term_select" class="m-select2"></select>
                        <span class="form-text text-muted">Seleccione semestre</span>
                    </div>
                </div>

                <div id="row_certificatestudies_partial" class="d-none">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-right">Tipo de Rango:</label>
                        <div class="col-lg-6">
                            <select id="range_type_select" class="m-select2">
                                <option value="1">Por ciclo</option>
                                <option value="2">Por semestre</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-right">Rango:</label>
                        <div class="col-lg-3">
                            <select id="range_start_select" class="m-select2"></select>
                            <span class="form-text text-muted">Seleccione Inicio</span>
                        </div>
                        <div class="col-lg-3">
                            <select id="range_end_select" class="m-select2"></select>
                            <span class="form-text text-muted">Seleccione Fin</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <button id="btn-history" class="btn btn-primary m-btn m-btn--wide" title="Historial">
                            Mostrar historial
                        </button>

                        <button id="btn-create" class="btn btn-primary m-btn m-btn--wide" title="Generar">
                            Registrar Solicitud
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>

<div id="observation_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-modal-title">
                    Observaciones
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="recordHistoryId" />
                <div class="form-group m-form__group m-form__group--first">
                    <table class="table table-striped table-bordered" id="table_observations"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/lib/jquery.fileDownload/jquery.fileDownload.js"></script>
    <script src="~/js/areas/academiccounter/request/index.js" asp-append-version="true"></script>
}