@{
    ViewData["Title"] = "Gestión de grupos curso extracurricular";

    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = ViewData["Title"].ToString() }
};

}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">@ViewData["Title"]</h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-bottom-20">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-3">
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <button data-toggle="modal" data-target="#create-modal" class="btn btn-primary m-btn btn-sm m-btn--icon">
                            <span>
                                <i class="fa fa-plus"></i>
                                <span>Nuevo Grupo</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>


<div class="modal fade" id="create-modal" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create-form" asp-controller="ExtracurricularCourseGroup" asp-action="CreateExtracurricularCourseGroup">
                <div class="modal-body tab-content m-portlet__body">
                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="add_form_msg">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text" id="add_form_msg_txt">
                            Oh rayos! Ocurri&oacute; un error en el servidor
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                        </div>
                    </div>
                    @await Html.PartialForAsync("Index/_ExtracurricularCourseGroupFields.cshtml", "Add")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button id="btnCreate" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                        <span class="ladda-label">Guardar</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-modal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-form" asp-controller="ExtracurricularCourseGroup" asp-action="EditExtracurricularCourseGroup">
                <div class="modal-body tab-content m-portlet__body">
                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="edit_form_msg">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text" id="add_form_msg_txt">
                            Oh rayos! Ocurri&oacute; un error en el servidor
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                        </div>
                    </div>
                    @await Html.PartialForAsync("Index/_ExtracurricularCourseGroupFields.cshtml", "Edit")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button id="btnEdit" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                        <span class="ladda-label">Guardar</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@await Html.PartialForAsync("Index/_ExtracurricularCourseGroupStudent.cshtml", "Edit")

@section Scripts {
    @*<script src="~/js/areas/admin/extracurricularcoursegroup/students.js"></script>*@
    <script src="~/js/areas/admin/extracurricularcoursegroup/index.js" asp-append-version="true"></script>
}

