@{
    ViewData["Title"] = "Reportes de notas por competencias";
    ViewData["Breadcrumbs"] = new[] {
    new BreadcrumbViewData { Name = "Reporte de Estudiantes",  Action = "Student" , Controller = "IntranetReport", Area = "Report" },
new BreadcrumbViewData { Name = ViewData["Title"].ToString() }
};
}
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <a asp-controller="IntranetReport" asp-area="Report" asp-action="Student" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only"><i class="la la-arrow-left"></i></a>
                    &nbsp;
                    <h3 class="m-portlet__head-text">@ViewData["Title"]</h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a class="m-portlet__nav-link btn btn-primary btn-competence-level" asp-action="AchievementLevel" asp-controller="ReportGradesByCompetence" asp-area="CareerDirector">
                            Nivel de logro por competencias
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="m-portlet__body">
            <div class="col-xl-12 order-2 order-xl-1">
                <div class="row">
                    <div class="form-group m-form__group col-xl-3">
                        <label>Periodo Académico</label>
                        <select class="form-control" id="termId">
                        </select>
                    </div>
                    <div class="form-group m-form__group col-xl-3">
                        <label>Facultad</label>
                        <select class="form-control" id="facultyId">
                        </select>
                    </div>
                    <div class="form-group m-form__group col-xl-3">
                        <label>Escuela Profesional</label>
                        <select class="form-control" id="careerId">
                        </select>
                    </div>
                    <div class="form-group m-form__group col-xl-3">
                        <label>Plan de estudio</label>
                        <select class="form-control" id="curriculumId">
                        </select>
                    </div>
                    <div class="form-group m-form__group col-xl-3">
                        <label>Competencia</label>
                        <select class="form-control" id="competenceId">
                        </select>
                    </div>

                    <div class="form-group m-form__group col-xl-3">
                        <label style="display:block">&emsp;</label>
                        <button class="btn btn-primary btn-find btn-block">Mostrar reporte</button>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-12">
                    <figure class="highcharts-figure m--hide">
                        <div id="container"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="m-portlet m--hide portlet-details">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">Listado detallado</h3>
                </div>
            </div>
            @*<div class="m-portlet__head-tools">
                    <button class="btn btn-primary btn-sm m-btn m-btn--icon" id="download_excel">
                        <span>
                            <i class="la la-download"></i>
                            <span>Descargar Reporte EXCEL</span>
                        </span>
                    </button>
                </div>*@
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-bordered" id="tbl-data">
                        <thead>
                            <tr>
                                <th>
                                    Competencia
                                </th>
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Nota Promedio
                                </th>
                                <th>
                                    Créditos
                                </th>
                            </tr>
                        
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/lib/jquery.fileDownload/jquery.fileDownload.min.js"></script>
    <script src="~/js/lib/highcharts/highcharts.js"></script>
    <script src="~/js/lib/highcharts/exporting.js"></script>
    <script src="~/js/lib/highcharts/export-data.js"></script>
    <script src="~/js/dataTables.rowGroup.js"></script>
    <script src="~/js/areas/careerdirector/reportgradesbycompetences/index.js"></script>
}

