 @model string

<div class="m-alert m-alert--icon alert alert-danger" role="alert">
	<div class="m-alert__icon">
		<i class="la la-warning"></i>
	</div>
	<div class="m-alert__text">
		&nbsp;@Model
	</div>
</div>