
@using AKDEMIC.POSDEGREE.ViewModels;
@{
    ViewData["Title"] = "Matricula";
    Layout = "~/Views/Shared/Templates/Default/_Layout.cshtml";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = (string)ViewData["Title"]}

};  
}
<div class="m-content hide" id="AddMatricula" style="display: none;">
    <form id="add-matricula" method="post">
        <div class="modal-body">
            <div class="form-group row">
                <div class="form-group m-form__group col- col-lg-12">
                    <input type="hidden" name="Id" />
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group m-form__group col- col-lg-6">
                    <label id="Codigo">cod posgrado</label>
                    <input type="text"  id="Codigop" name="Codigo" class="form-control" maxlength="200" />
                </div>
                <div class="form-group m-form__group col- col-lg-6">
                    <label id="nombre">Nombre</label>
                    <input type="text" name="Nombre" id="namepersonal" class="form-control" maxlength="200" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group m-form__group col- col-lg-6">
                    <label id="apellidoP">Apellido Paterno</label>
                    <input type="text" name="ApellidoP" class="form-control" maxlength="200" required placeholder="apellidos paterno" />
                </div>
                <div class="form-group m-form__group col- col-lg-6">
                    <label id="apellidoM">Apellido Materno</label>
                    <input type="text" name="ApellidoM" class="form-control" maxlength="200" required placeholder="apellido materno" />
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group m-form__group col- col-lg-3">
                    <label>Maestria</label>
                    <div class="m-input m-input-icon m-select2 m-input-icon--left">
                        <select id="maestriaId" class="form-control m-input"></select>
                    </div>
                </div>
                <div class="form-group m-form__group col- col-lg-3">
                    <label>Semestre</label>
                    <div class="m-input m-input-icon m-select2 m-input-icon--left">
                        <select id="semestreId" class="form-control m-input"></select>
                    </div>
                </div>
                <div class="form-group m-form__group col- col-lg-3">
                    <label id="telefono">Tipo Matricula</label>
                    <input type="text" name="telefono" class="form-control" maxlength="200" />
                </div>
                <div class="form-group m-form__group col- col-lg-3 ">
                    <label id="telefono">Pago Matricula</label>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        si
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="text-align:right;">
                <button type="submit" class="btn btn-info btn-action ladda-button" data-style="slide-down">
                    <span class="ladda-label">Mostrar</span>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-striped table-bordered" id="datatable_data"></table>
</div>
@section Scripts{
    <script src="~/js/modules/form.js"></script>
    <script src="~/js/areas/admin/TeachingLoad/Index.js" asp-append-version="true"></script>

}
