@model List<string>


<div style="width:100%">
    <table style="width:100%">
        <tr>
            <th style="width:150px;text-align:center"> <img style="width:230px !important;" src="@Model[3]" /></th>
        </tr>
        <tr>
            <td style="width:200px;text-align:center">@Model[2]</td>
        </tr>
    </table>
</div>

<div style="width:100%;">
    <table style="width:100%">
        <tr>
            <th style="text-align:left;"><img style="width:100px; height:100px !important;" src="@Model[1]" /></th>
            <th style="text-align:right;">Usuario : @Model[0]</th>
        </tr>
    </table>

</div>