body {
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    /*margin: 0 5% 0 10%;*/
}

.title {
    font-size: 18px;
    font-weight:bold;
    text-align: center;
    display: inline-block;
    padding-left: 120px;
}

.subtitle {
    font-weight: bold;
}

table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

    table tr {
        page-break-inside: avoid;
    }

    table > tr {
        page-break-inside: avoid;
    }


    table.list {
        margin-top: 15px;
        border-collapse: collapse;
    }

        table.list,
        table.list th,
        table.list td {
            border: 1px solid black;
        }

            table.list th {
                font-size: 12px;
                text-align: center;
            }

.sign {
    max-width: 95%;
    text-align: center;
    border: 1px solid black;
    padding-top: 100px;
}

    .sign.left {
        margin-right: auto;
    }

    .sign.center {
        margin: auto;
    }

    .sign.right {
        margin-left: auto;
    }

    .sign span {
        border-top: 1px solid black;
        width: 95%;
        display: block;
        margin: auto;
        padding: 2px 0;
    }
