<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"></h3>
            <a asp-action="Index" asp-controller="StudentInformation" asp-area="CareerDirector" class="btn btn-secondary m-btn m-btn--icon">
                <span>
                    <i class="la la-angle-left"></i>
                    <span>Atr&aacute;s</span>
                </span>
            </a>
        </div>
    </div>
    <div class="m-portlet__head-tools">
    </div>
</div>
<div class="m-portlet__body m-portlet__body-options">
    <div class="row nav" role="tablist">
        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block general-data">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-1.png" />
                <span>Datos Generales</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block user-procedures">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-3.png" />
                <span>Tr&aacute;mites de Estudiante</span>
            </a>
        </div>



        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block enrollment">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-5.png" />
                <span>Ver Matr&iacute;culas</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block schedule">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-6.png" />
                <span>Horario del Estudiante</span>
            </a>
        </div>

        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block assistance-history">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-8.png" />
                <span>Registro de Asistencias</span>
            </a>
        </div>

        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block academic-history academic-history">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-9.png" />
                <span>Historial de Notas</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block report-card">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-10.png" />
                <span>Boleta de Notas</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block curriculum-progress">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-11.png" />
                <span>Historial Acad&eacute;mico</span>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-action="StudyRecord" asp-controller="StudentInformation" asp-area="CareerDirector" class="student-option-block" target="_blank" download>
                <img src="~/images/areas/careerdirector/studentinformation/student-information-12.png" />
                <span>Constancia de Estudios</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block observations">
                <img src="~/images/areas/careerdirector/studentinformation/student-information-4.png" />
                <span>Observaciones</span>
            </a>
        </div>

        <div class="col-md-3">
            <a href="javascript:void(0)" class="student-option-block procedure-request">
                <img src="~/images/areas/academic/studentinformation/student-information-7.png" />
                <span>Solicitud de Tr&aacute;mites</span>
            </a>
        </div>
    </div>
</div>