body {
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: #0D72B6;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    padding-left: 120px;
}

.subtitle {
    color: #0D72B6;
}

table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

    table.list {
        border-collapse: collapse;
    }

        table.list,
        table.list th,
        table.list td {
            border: 1px solid #0D72B6;
        }

            table.list th {
                font-size: 12px;
                color: #0D72B6;
                text-align: center;
            }

.sign {
    max-width: 95%;
    text-align: center;
    border: 1px solid #0D72B6;
    padding-top: 100px;
}

    .sign.left {
        margin-right: auto;
    }

    .sign.center {
        margin: auto;
    }

    .sign.right {
        margin-left: auto;
    }

    .sign span {
        border-top: 1px solid #0D72B6;
        color: #0D72B6;
        width: 95%;
        display: block;
        margin: auto;
        padding: 2px 0;
    }
