@{
    ViewData["Title"] = "Historial de pagos";
    ViewData["SubTitle"] = "Pagos";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = ViewData["SubTitle"].ToString() }
};
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Pagos
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            @*<div class="form-group m-form__group col-xl-3">
                                <label>Periodo Acad&eacute;mico</label>
                                <select id="select_terms" class="m-select2 "></select>
                            </div>*@
                            <div class="form-group m-form__group col-xl-3">
                                <label>&emsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="m-datatable"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="payment_historial_details" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles</h5>
            </div>
            <form id="form">                
                <div class="modal-body">
                    <div class="m-datatable-detail"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-add" data-dismiss="modal"> Cerrar </button>                    
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {    
    <script src="~/js/areas/student/paymenthistory/index.js" asp-append-version="true"></script>
}