@font-face {
    src: url(../../../../fonts/NimbusSanL-Reg.woff) format('woff');
    font-family: 'NimbusSanL';
}

@font-face {
    src: url(../../../../fonts/NimbusSanL-Bol.woff) format('woff');
    font-family: 'NimbusSanL';
    font-weight: bold;
}

@font-face {
    src: url(../../../../fonts/DejaVuSansCondensed.woff) format('woff');
    font-family: 'DejaVu Sans Condensed';
}

@font-face {
    src: url(../../../../fonts/DejaVuSansCondensed-Bold.woff) format('woff');
    font-family: 'DejaVu Sans Condensed';
    font-weight: bold;
}

body {
    font-family: 'NimbusSanL';
    font-size: 13px;
}

h1 {
    margin-bottom: 5px !important;
    font-size: 20px !important;
}

h2 {
    margin: 0px;
    font-size: 18px;
}

img {
    top: 0;
    left: 0;
    max-height: 60px;
}

header {
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-weight: normal;
}

tr {
    page-break-inside: avoid;
}


th {
    page-break-inside: avoid;
}

th, td {
    border: 2px solid black;
    padding: 3px 3px !important;
}

th {
    font-weight: normal;
    text-align: left;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
    background-color: lightgray;
}

.center {
    text-align: center;
}

.header2 {
    font-size: 10px;
    padding: 3px 0px !important;
}

.header > th, td {
    border: 2px solid black;
    padding: 5px 3px !important;
}

.td-header {
    border: none;
    padding: 0px !important;
}

.detail-header {
    font-size: 10px;
    text-align: left;
    font-weight: 600;
}

.footer {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -6px;
}

.thd {
    padding: 5px;
    font-size: 12px;
}