body {
}

.upper-bold{
    text-transform:uppercase;
    font-weight: 700;
}

.content-title {
    margin-top: 0px;
    position: relative;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    width: 100%;
    font-family: 'Calibri';
}

.head {
    width: 100%;
    display: block;
    text-align: center;
    font-family:'Times New Roman';
}

.document {
    margin: 0px 50px;
    left: 0;
    right: 0;
}

.faculty-name {
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.academic-secretary {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

.year {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
 

.meta {
    text-align: center;
}

.column {
    float: left;
    width: 33.3%;
}


.head-content {
    text-align: center;
    display: block; 
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-transform:uppercase;
    font-weight:700;
    text-decoration:underline;
}

.text-year {
    text-align: center;
    display: block;
}

.title {
    font-weight: bold;
    font-size: 16pt;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.title-text-year {
    font-size: 10pt;
    font-style: italic;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    height: 50px;
    position: relative;
}

.content-checkbox {
    margin-left: 100px;
    margin-right: 100px;  
    position: relative;
}



.content-table {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    display: block;
}
 

.content-text {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    position: relative; 
}

.content-rigth {
    text-align: right;
    margin-top: 40px;
    margin-right: 160px;
}

table, th, td {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

.label-university-name {
    text-transform: uppercase;
}

.university-information {
    text-transform: uppercase;
}

.academic-service {
    font-weight: 700;
    font-size: 16pt;
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.squre{
    font-size:20pt;
}

.checkbox{
    width:100%;
    margin-right:80px;
    margin-left:80px;
}
.constatar-content {
    margin-top:-20px;
    display: block;
    text-align: center;
}

/*table*/
table {
    border-collapse: collapse;
}
table tr td label{
    font-size:10pt;
    padding:2px;
}
.section{
    background-color:lightgray;
}

.underline {
    display:inline-block;
    width:20px;
    border-bottom: 1px solid black;
}
.underline-day {
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid black;
}

.underline-month {
    display: inline-block;
    width: 70px;
    border-bottom: 1px solid black;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    width: 150px;
    height: 50px;
    margin-right: 100px;
    border-left: 1px solid;
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    right: 0;
}

.footer-address {
    display: block;
    padding-left: 10px;
}