html, body {
    height: 100%;
}

html {
    display: table;
    width: 100%;
    font-family:"Calibri";
}

.head {
    width: 100%;
    padding-top: 20px;
    display: block;
    margin-top: 6cm;
}

.document {
    margin: 0px 50px;
    left: 0;
    right: 0;
}

.faculty-name {
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.academic-secretary {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

.year {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.logo-university {
    width: 100px;
    display: inline-block;
    margin-left: 40%;
    max-height: 70px;
    max-width: 70px;
}

.logo {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-left: 30%;
}

.meta {
    text-align: center;
}

.column {
    float: left;
    width: 33.3%;
}


.head-content {
    text-align: center;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.text-year {
    text-align: center;
    display: block;
}

.title {
    font-weight: bold;
    font-size: 16pt;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.title-text-year {
    font-size: 10pt;
    font-style: italic;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    height: 50px;
    position: relative;
}

.content-title {
    margin-top: 50px;
    height: 110px;
    position: relative; 
}

.content-table {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    display: block;
}

.constatar {
    font-family: "Calibri";
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 14pt;
}

.photo {
    float: right;
    width: 90px;
    height: 150px;
    border: 1px;
}

.content-text {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    position: relative;
    font-family: "Calibri";
}

.content-left {
    text-align: left;
    margin-top: 40px;
    margin-right: 160px;
}

table, th, td {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

.label-university-name {
    text-transform: uppercase;
    font-size:18pt;
}

.subtitle{
    font-size:14pt;
    display:inline;
}

.university-information {
    text-transform: uppercase;
}

.academic-service {
    font-weight: 700;
    font-size: 16pt;
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

/*table*/
table {
    border-collapse: collapse;
}

    table tr td label {
        font-size: 10pt;
        padding: 2px;
    }

.section {
    background-color: lightgray;
}

.section-head {
    font-weight: 700;
    background-color: lightgray;
}
.details{
    margin-top:20px;
}

.table-grades {
    margin-top: 40px;
}

table.table-grades tbody tr td {
    text-align: center;
}

    table tbody tr td.item-course {
        text-align: left;

        margin-left: 3px;
    }

.firma {
    margin-left: 80px;
    margin-top: 130px;
    width: 200px;
    text-align: center;
    border-top: 1px solid black;
}