html, body {
    height: 100%;
}

html {
    display: table;
    width: 100%;
    font-family: "Calibri";
}

.head {
    width: 100%;
    /*padding-top: 20px;*/
    display: block;
    margin-top: 4cm;
}

.document {
    margin: 0px 50px;
    left: 0;
    right: 0;
    display: block;
    height: 1300px;
}

.faculty-name {
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.academic-secretary {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

.year {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.logo-university {
    width: 105px;
    display: inline-block;
    max-width: 105px;
    height: 70px;
    margin-top: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-left: 30%;
}

.meta {
    text-align: center;
}

.column {
    float: left;
    /*width: 33.3%;*/
}


.head-content {
    text-align: center;
    display: block;
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.table-record {
    margin-left: 50px;
    /*margin-right: 90px;*/
}

.text-year {
    text-align: center;
    display: block;
    margin-left: 50px;
}

.title {
    font-weight: bold;
    font-size: 16pt;
    display: block;
    margin-top: 10px;
    margin-left:50px;
    text-transform: uppercase;
}

.title-text-year {
    font-size: 10pt;
    font-style: italic;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

.content {
    margin-left: 50px;
    /*margin-right: 10px;*/
    margin-top: 50px;
    height: 50px;
    position: relative;
    font-size: 20px;
    text-align: justify;
}

.content-title {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 50px;
    height: 110px;
    position: relative;
    border-bottom: 1px solid black;
}

.title-record {
    display: inline;
    font-size: 17pt;
    font-family: 'Times New Roman', Times, serif;
}

.content-table {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    display: block;
}

.constatar {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 15pt;
    text-align: justify;
    padding-right: 8px;
}

.photo {
    float: right;
    width: 90px;
    height: 150px;
    border: 1px;
}

.content-text {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 65px;
    position: relative;
}

.detail-student {
    padding-top: 20px;
    text-align: center;
    /*margin:auto;*/
    margin-left: 50px;
}

.fullname {
    font-weight: 700;
    font-size: 16pt;
    font-family: Impact;
    text-transform: uppercase
}

.code-student {
    margin-top: 10px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.uppercase {
    text-transform: uppercase
}

.content-rigth {
    text-align: right;
    margin-top: 40px;
    font-size: 20px;
    /*margin-right: 100px;*/
}

table, th, td {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

.label-university-name {
    text-transform: uppercase;
}

.university-information {
    text-transform: uppercase;
}

.academic-service {
    font-weight: 700;
    font-size: 23px;
    display: block;
    margin-right: 99px;
}

.uppercase {
    text-transform: uppercase;
}

table {
    border: 1px solid black;
}

    table tr {
        height: 30px;
    }

.td-ciclo {
    background-color: black;
    color: white;
}

.number-ciclo {
    text-align: center;
    padding-left: 20px;
}

.content-footer {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    border-top: 1px solid;
    display: block;
    width: 100%;
    position: relative;
}

.footer-address {
    margin: 5px;
    display: block;
}
