
<div class="m-portlet m-portlet--responsive-mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Cursos Electivos
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-datatable elective-courses-datatable mx-auto" style="width: 85%;"></div>
    </div>
</div>