@using AKDEMIC.INTRANET.ViewModels.SurveyViewModels
@model RespondSurveyViewModel
@{
    Layout = "~/Views/Shared/Templates/_InscriptionLayout.cshtml";
    ViewData["Title"] = "Responder";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = "Listado de Encuestas", Controller = "SurveyUser", Action = "Index"},
new BreadcrumbViewData { Name = "Responder Encuesta", Controller = null, Action = null}
};

    var sended = Convert.ToBoolean(ViewBag.Sended);
    var SurveyUserId = ViewBag.SurveyUserId;
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption" style="margin:auto">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Encuesta
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a asp-action="Logout" asp-controller="Account" asp-area="" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                            Cerrar Sesi&oacute;n
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row p-3 bg-light">
                <strong>Competencias específicas del perfil a evaluar</strong>
            </div>
            <form id="survey-form" asp-area="" asp-controller="SurveyUser" asp-action="SendAnswers">
                <input type="hidden" name="SurveyUserId" id="SurveyUserId" value="@SurveyUserId">
                <div id="questions"></div>
                <div class="row">
                    @if (!sended)
                    {
                        <button id="btnSend" class="btn btn-sm btn-primary m-btn m-btn--air btn-send" type="submit">Enviar</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/css/views/survey/respondSurvey.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/views/survey/respondSurvey.js"></script>
}


