@model AKDEMIC.INTRANET.Areas.Admin.Models.ExternalUserViewModels.UserViewModel
@{
    ViewBag.Title = "Agregar usuario externo";
    ViewBag.Breadcrumbs = new[] {
    new BreadcrumbViewData { Name = "Gestión de Usuarios Externos", Area = "Admin", Controller = "ExternalUser", Action = "Index"},
    new BreadcrumbViewData { Name = ViewBag.Title, Controller = null, Action = null }
    };
}

<div class="m-content">
    <div class="m-portlet m-portlet--responsive-mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewBag.Title
                    </h3>
                </div>
            </div>
        </div>
        <form id="main_form">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-12">
                        <label asp-for="Name" class="form-control-label">Nombre</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="Name" class="form-control m-input" placeholder="Nombres" required pattern="^[\w]+[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-info-circle"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="PaternalSurname" class="form-control-label">Apellido Paterno</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="PaternalSurname" class="form-control m-input" placeholder="Apellido Paterno" required pattern="^([a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+)?$" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-info-circle"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="PaternalSurname" class="text-danger"></span>
                    </div>

                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="MaternalSurname" class="form-control-label">Apellido Materno</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="MaternalSurname" class="form-control m-input" placeholder="Apellido Materno" required pattern="^([a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+)?$" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-info-circle"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="MaternalSurname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-12">
                        <label asp-for="Document" class="form-control-label">Documento</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="Document" class="form-control m-input" placeholder="Documento" type="text" pattern="^[0-9]*$" required minlength="8" maxlength="8" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-info-circle"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="Email" class="form-control-label">Correo Electrónico</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="Email" class="form-control m-input" placeholder="Correo electrónico" type="email" required/>
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="so socicon-mail"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="Sex" class="form-control-label">Sexo</label>
                        <div class="m-radio-inline">
                            @foreach (var g in ConstantHelpers.SEX.VALUES)
                            {
                                <label class="m-radio m-radio--solid m-radio--brand">
                                    @if (Model != null && Model.Sex.Equals(g.Key))
                                    {
                                        <input id="sex_@g.Key" asp-for="Sex" type="radio" required value="@g.Key" checked />
                                    }
                                    else
                                    {
                                        <input id="sex_@g.Key" asp-for="Sex" type="radio" required value="@g.Key" />
                                    }
                                    @g.Value
                                    <span></span>
                                </label>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="PhoneNumber" class="form-control-label">Teléfono</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="PhoneNumber" class="form-control m-input" placeholder="Teléfono" pattern="^[1-9][0-9]{4,9}$" minlength="5" maxlength="9" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-phone"></i>
                                </span>
                            </span>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="BirthDate" class="form-control-label">Fec. Nacimiento</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="BirthDate" class="form-control m-input" placeholder="Fecha de Nacimiento" required/>
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-calendar"></i>
                                </span>
                            </span>
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-12">
                        <label asp-for="Address" class="form-control-label">Dirección</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input asp-for="Address" class="form-control m-input" placeholder="Dirección" />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-home"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="Password" class="form-control-label">Contraseña</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="password" asp-for="Password" class="form-control m-input" placeholder="Ingresar contraseña" required/>
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-key"></i>
                                </span>
                            </span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="m-form__group-sub col-lg-6">
                        <label asp-for="PasswordVerifier" class="form-control-label">Verificar Contraseña</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="password" asp-for="PasswordVerifier" class="form-control m-input" placeholder="Verificar contraseña" required />
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-key"></i>
                                </span>
                            </span>
                            <span asp-validation-for="PasswordVerifier" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-lg-6 m--valign-middle">
                    </div>
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-primary m-btn m-btn--icon">
                            <span>
                                <i class="la la-save"></i>
                                <span>Guardar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
<script src="~/js/areas/admin/external_user/add.js" asp-append-version="true"></script>
}