@{
    ViewData["Title"] = "Correo enviado satisfactoriamente";
    Layout = "~/Views/Shared/Templates/Login/_Layout.cshtml";
}


<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@GeneralHelpers.GetTheme()/logo.png">
        </a>
        <h1>@AKDEMIC.DEGREE.Helpers.ConstantHelpers.Project.NAME.ToUpper()</h1>
        <h5>@ViewData["Title"]</h5>
        <label>
            Por favor revise su bandeja de correos para reiniciar su contraseña.
        </label>
        <div class="group">
            <a class="btn button-submit" style="color:white" asp-controller="Account" asp-action="Login">INICIAR SESIÓN</a>
        </div>
    </div>
</div>
