@*@{
    ViewData["Title"] = "Confirmacion";
    Layout = "~/Views/Shared/Templates/Login/_Layout.cshtml";
}

<div class="m-login__wrapper">
    <div class="m-login__custom">
        <div class="m-login__logo">
            <a href="#">
                <img src="~/images/akdemic/logo.svg">
            </a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="m_tabs_1" role="tabpanel">
                <label>La contraseña ha sido cambiada exitósamente.</label>
                <div>
                    <a style="margin: 0 auto; display:block;" class="btn btn-primary m-btn m-login__btn m-login__btn--primary" href="@Url.Action("Index","Home")">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>*@


@{
    //ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/Templates/Login/_Layout.cshtml";
}


<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@GeneralHelpers.GetTheme()/logo.png">
        </a>
        <h1>CONFIRMACIÓN DE CONTRASE&Ntilde;A</h1>
        <p>
            Tu contrase&ntilde;a ha sido restablecida.<br />
            <a asp-action="Login" class="forget-password-label">Ir a la página de inicio</a>.
        </p>
    </div>
</div>
