@{
    ViewData["Title"] = "Reporte de atención de alertas";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = ViewData["Title"].ToString() }
};
}
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Reporte estadístico
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-3">
                                <label>Dependencias</label>
                                <select id="select_dependencies" class="m-select2"></select>
                            </div>

                            <div class="form-group m-form__group col-xl-4">
                                <label>&emsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon">
                                        <i class="flaticon-graph"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Reportes estadísticos
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <div class="m-portlet__body" style="display: flex; flex-flow: row wrap;  justify-content: center;  align-items: center;  text-align: center;">
                            <div id="chart_div_report_alert_atention"></div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/js/modules/form.js"></script>
    <script src="~/js/areas/admin/alerts/alertatention.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}


