@{
    Layout = "~/Views/Shared/Templates/Error/_Layout.cshtml";
}

<div class="m-error_container">
    <div class="m-error_subtitle m--font-light">
        <h1>
            Oops...
        </h1>
    </div>
    <p class="m-error_description m--font-light">
        Parece que ocurri&oacute; un problema.
        <br>
        Estamos trabajando en ello
    </p>
</div>
