@model string
<div class="modal fade" id="request_result_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mb-4">
                    <i style="font-size:80px !important;" class="la la-check-circle m--font-primary"></i>
                </div>
                <h3 class="text-center m--font-boldest">Solicitud enviada con éxito</h3>
                <br />
                <a href="#" class="btn btn-primary btn-block btn_request_result_accept">Aceptar</a>
                <a href="#" target="_blank" class="btn btn-secondary btn_request_result_pdf btn-block d-none">Descargar @Model </a>
            </div>
        </div>
    </div>
</div>