
@{
    ViewBag.Title = "Listado de Estudiantes";
    ViewBag.SubTitle = "Listado de Estudiantes";
    ViewBag.Breadcrumbs = new[] {
    new BreadcrumbViewData { Name = ViewBag.Title, Controller = null, Action = null }
    };
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewBag.SubTitle
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="row">
                        <div class="form-group m-form__group col-xl-4">
                            <label>Facultad</label>
                            <select class="form-control m-input m-select2 select2-faculties">
                                <option>Todas</option>
                            </select>
                        </div>
                        <div class="form-group m-form__group col-xl-4">
                            <label>Escuela</label>
                            <select class="form-control m-input m-select2 select2-careers">
                                <option>Todas</option>
                            </select>
                        </div>
                        <div class="form-group m-form__group col-xl-4">
                            <label>&emsp;</label>
                            <div class="m-input m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-striped table-bordered students-datatable"></table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/academicrecord/student/index.js"></script>
}