@model AKDEMIC.INTRANET.Areas.Admin.Models.StudentViewModels.StudentViewModel
@{
    ViewBag.Title = "Registrar Estudiante";
    ViewBag.ErrorMessage = "¡Ups! Parece que hubo un error con los datos ingresados. Revíselo e intente otra vez.";
    ViewBag.Breadcrumbs = new[] {
new BreadcrumbViewData { Name = "Gestión de Estudiante", Area = "Admin", Controller = "Student", Action = "Index"},
new BreadcrumbViewData { Name = ViewBag.Title, Controller = null, Action = null }
};
    ViewBag.BackUrl = Url.Action("Index", "Student");
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Datos del Estudiante
                    </h3>
                </div>
            </div>
        </div>
        <form class="m-form m-form--state m-form--fit" id="add-form" asp-action="Add" asp-controller="Student" data-ajax="true" data-ajax-method="POST" data-ajax-begin="Form.begin" data-ajax-complete="Form.complete" data-ajax-success="Form.success" data-ajax-failure="Form.failure">
            <div class="m-portlet__body">
                <div class="m-form__content">
                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m-form_alert">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div id="alert-text" class="m-alert__text">
                            @ViewBag.ErrorMessage
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                @await Html.PartialForAsync(m => m, "_StudentEntryForm")

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit m--align-right m--margin-top-10">
                <div class="m-form__actions">
                    <button id="btnSave" class="btn btn-primary m-btn m-btn--custom m-btn--icon" type="submit">
                        <span>
                            <i class="la la-save"></i>
                            &nbsp;&nbsp;
                            <span>
                                Guardar
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-ajax-unobtrusive.min.js"></script>
    <script src="~/js/areas/admin/student/add.js"></script>
}