@using AKDEMIC.INTRANET.Areas.Student.Models.CafobeRequestViewModels
@model HighPerformanceViewModel
@{
    ViewData["Title"] = "Cafobe";
    ViewData["SubTitle"] = "Nueva Solicitud de Alto Rendimiento";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData {Name="Cafobe",Action="CafobeRequestMenu", Controller="CafobeRequest",Area="Student"},
new BreadcrumbViewData { Name = ViewData["SubTitle"].ToString() }

};
    ViewData["BackUrl"] = Url.Action("CafobeRequestMenu", "Solicitudes", new { area = "Student" });
}
<div class="m-content">
    <input id="Id" type="hidden" value="@Model" />
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewData["SubTitle"]
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <form id="create-form" enctype="multipart/form-data" asp-controller="CafobeRequest" asp-action="AddHighPerformance">
                @await Html.PartialAsync("HighPerformanceForms/_HighPerformanceForm", Model);
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/css/views/cafobe/add.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/areas/student/cafoberequest/highperformance.js" type="text/javascript"></script>
}