body {
    /*padding-top: 80px;*/
    /*max-width: 900px;*/
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    width: 100%;
    height: 70px;
    font-size: 25px;
    text-align: center;
    display: inline-block;
}

table.mainTable {
    width: 100%;
    margin: auto;
}

.boldWord {
    font-weight: bold;
}

.firstChildTable {
    width: 100%;
    border-collapse: collapse;
}
    .firstChildTable > tr > td, .firstChildTable td {
        /*border: 1px solid black;*/
    }

    .firstChildTable tr:nth-child(2n+1) {
        /*border: 1px solid black;*/
        /*background-color: #cecece;*/
    }

    .firstChildTable tr:first-child, .firstChildTable tr:first-child > td {
        text-align: center;
        /*background-color: rgb(112,112,112);
    color: white;*/
        border: 1px solid black;
        height: 28px;
    }


.cited-text {
    text-align: left;
    font-size: 14px;
    padding: 5px
}
