.student-info-block {
    padding: 0 25px 10px 25px;
}

    .student-info-block label {
        display: block;
    }

        .student-info-block label.title {
            font-weight: bold;
        }

        .student-info-block label.description {
            font-size: 17px;
            text-transform: uppercase;
        }

.student-profile-section {
    text-align: center;
}

    .student-profile-section img {
        margin-bottom:25px;
        max-width: 130px;
    }

    .student-profile-section label {
        display: block;
    }

        .student-profile-section label.fullname {
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .student-profile-section label.title {
            font-weight: bold;
        }

        .student-profile-section label.code {
            font-size: 17px;
            text-transform: uppercase;
        }

.student-option-block {
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    display: block;
    color: #575962 !important;
    text-decoration: none !important;
    padding-bottom: 10px;
}

    .student-option-block img {
        width: 100%;
        max-width: 125px;
    }

    .student-option-block span {
        display: block;
        font-size:15px;
        font-weight:500;
    }

a.student-option-block:hover {
    background: #f9f9f9;
}

.m-portlet .m-portlet__body.m-portlet__body-options {
    padding: 6.5rem 6.5rem;
}

.m-portlet .m-portlet__body.m-portlet__body-profile {
    padding: 3.5rem 2.2rem;
}

.m-portlet {
    margin-bottom: 0.8rem;
}

.col-info {
    padding-right: 0.4rem;
}

.col-options {
    padding-left: 0.4rem;
}

/*.table th, .table td {
    padding: 5px 10px;
}*/

 input.invalid {
    border-color: #dc3545;
}
 .custom-file.invalid {
    border: 1px solid #dc3545;
}
.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    line-height: 21px;
    margin-top: 4px;
    text-align: left;
    display:block;
}

table.dataTable tr.dtrg-group td {
    background-color: #e0e0e0
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    font-weight: bold
}

table.dataTable tr.dtrg-group.dtrg-level-1 td, table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f0f0f0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: 0.9em
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f3f3f3
}