@{
    ViewData["Title"] = "Reporte de Asistencia de Estudiantes";
    ViewData["Breadcrumbs"] = new[] {
    new BreadcrumbViewData { Controller = "IntranetReport", Action = "Student", Area = "Report", Name = "Reporte de Estudiantes" },
    new BreadcrumbViewData { Name = (string)ViewData["Title"] }
    };
}

@section Styles {
    <style>
        a {
            text-decoration: none !important;
        }

            a:hover .m-portlet {
                box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.7);
            }

            a i {
                font-size: 120px;
            }
    </style>
}

<div class="m-content">
    <h4 class="text-center">@ViewData["Title"].ToString().ToUpper()</h4>
    <br />
    <div class="row">

        @if (
        User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN) ||
        User.IsInRole(ConstantHelpers.ROLES.INTRANET_ADMIN) ||

        User.IsInRole(ConstantHelpers.ROLES.CAREER_DIRECTOR) ||
        User.IsInRole(ConstantHelpers.ROLES.ACADEMIC_SECRETARY) ||
        User.IsInRole(ConstantHelpers.ROLES.VICERRECTOR)
        )

        {
            <div class="col-md-3">
                <a asp-action="Index" asp-controller="CourseAttendanceStatistic" asp-area="Report">
                    <div class="m-portlet m-portlet--rounded text-center">
                        <div class="m-portlet__body">
                            <div class="text-primary">
                                <i class="la la-bar-chart" style="font-size: 120px;"></i>
                            </div>
                            <h4>Estad&iacute;stica de asistencia</h4>
                            <span>Estad&iacute;stica de asistencia por escuela profesional y plan de estudios</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        @if (
        User.IsInRole(ConstantHelpers.ROLES.SUPERADMIN) ||
        User.IsInRole(ConstantHelpers.ROLES.INTRANET_ADMIN) ||
        User.IsInRole(ConstantHelpers.ROLES.GENERAL_ACADEMIC_DIRECTORATE) ||

        User.IsInRole(ConstantHelpers.ROLES.CAREER_DIRECTOR) ||
        User.IsInRole(ConstantHelpers.ROLES.ACADEMIC_SECRETARY) ||
        User.IsInRole(ConstantHelpers.ROLES.DEAN) ||
        User.IsInRole(ConstantHelpers.ROLES.DEAN_SECRETARY) ||
        User.IsInRole(ConstantHelpers.ROLES.ACADEMIC_DEPARTMENT_DIRECTOR) ||
        User.IsInRole(ConstantHelpers.ROLES.ACADEMIC_COORDINATOR) ||
        User.IsInRole(ConstantHelpers.ROLES.VICERRECTOR) ||

        User.IsInRole(ConstantHelpers.ROLES.REPORT_QUERIES)
        )
        {


            <div class="col-md-3">
                <a asp-action="Index" asp-controller="Report" asp-area="Admin">
                    <div class="m-portlet m-portlet--rounded text-center">
                        <div class="m-portlet__body">
                            <div class="text-primary">
                                <i class="la la-bar-chart" style="font-size: 120px;"></i>
                            </div>
                            <h4>Asistencia de estudiantes</h4>
                            <span>Asistencia por cursos, estudiantes y porcentajes</span>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-3">
                <a asp-action="Index" asp-controller="ReportCourse" asp-area="Admin">
                    <div class="m-portlet m-portlet--rounded text-center">
                        <div class="m-portlet__body">
                            <div class="text-primary">
                                <i class="la la-bar-chart" style="font-size: 120px;"></i>
                            </div>
                            <h4>Asistencia y faltas por curso</h4>
                            <span>Relaci&oacute;n de asistencias y faltas por curso seg&uacute;n periodo y escuela profesional </span>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script>
        $('a').hover(
            function () {
                $(this).children(":first").children(":first").addClass('bg-primary text-white');
                $(this).children(":first").children(":first").children(":first").addClass('text-white');
                $(this).children(":first").children(":first").children(":first").removeClass('text-primary');
            },
            function () {
                $(this).children(":first").children(":first").removeClass('bg-primary text-white');
                $(this).children(":first").children(":first").children(":first").removeClass('text-white');
                $(this).children(":first").children(":first").children(":first").addClass('text-primary');
            }
        )
    </script>
}