
/*---------------------------------------------------------------------------------------*/
@media screen and (min-width: 550px)  {

    .m-grid__item m-grid__item--fluid m-wrapper {
        background-color: #f3f3f3 !important;
        margin-bottom: 0;
    }

    .m-portlet.portlet-accordion {
        background: linear-gradient(90deg, #ff010b 50%, #ffcc1e 50%);
    }

    .m-content.sub-content {
        padding: 0 30px;
    }

    .accordion-item-content,
    .accordion:hover .accordion-item-content {
        transition: height .25s;
    }



    .accordion {
        overflow: hidden;
        max-height: 180px;
        padding: 0;
        width: 100%;
        font-family: "PT Sans" sans-serif
    }

        .accordion li {
            position: relative;
            display: block;
            float: left;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }


        .accordion ul:hover li {
            width: 20% !important;
        }

        .accordion ul li:hover {
            width: 60% !important;
        }


        .accordion .accordion-item {
            padding: 1em;
            color: #eee;
            height: 180px;
        }

        .accordion h1 {
            margin: 0;
        }

        .accordion .accordion-item:nth-child(1) {
            background-color: #ff010b;
            background-image: #ff010b;
            width: 40%;
        }

        .accordion .accordion-item:nth-child(2) {
            background-color: #ff8c00;
            background-image: #ff8c00;
            width: 30%;
        }

        .accordion .accordion-item:nth-child(3) {
            background-color: #ffcc1e;
            background-image: #ffcc1e;
            width: 30%;
        }

    .item {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
    }

        .item label {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }


    .code {
        width: 15%;
    }

    .text {
        width: 80%;
    }

    .icon {
        margin-top: 3px;
        float: left;
        color: #d06a02;
        font-size: 28px;
    }

    .calendar-text {
        margin-left: 10px;
        width: 90%;
    }

    .date {
        font-size: 10px;
        position: relative;
        margin-top: -10px;
        margin-bottom: 0;
        margin-left: 32px;
    }

    .item label {
        margin-bottom: 0;
    }

    .pago {
        display: inline;
        margin-left: 10px;
        width: 90%;
    }

    .pago-name {
        display: inline-block;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .accordion ul li:hover .pago-name {
        width: 80%;
    }

    .eventos {
        margin-bottom: 10px;
    }
}

/*-------------------FOROS----------------------*/
.curve {
    width: 87%;
    background-color: #fff;
    position: absolute;
    bottom: 33px;
    left: 0;
    margin-left: 15px;
    height: 20px;
    border-bottom-right-radius: 20px;
}
.foros {
    border-bottom: solid 15px black;
    height: 288px;
    border-bottom-right-radius: 20px;
}
.foro {
    margin-left: 1.2rem;
    margin-right: 0.5rem;
    margin-bottom:20px;
}
.head-foros {
    margin-top: 25% !important;
}
.foro-text {
    margin-left: 10px; 
}
.foro-category {
    font-size: 10px;
    position: relative;
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 32px;
}

.foro-link {
    position: absolute;
    bottom: 28px;
    right: 0;
    margin-right: 15px;
    height: 60px;
    width: 10%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
    color: #fff; 
}

.foro-link-icon {
    margin-top: 20%;
    margin-left: 30%;
    font-size: 30px;
}


.foro-link:hover {
    color: inherit;
}

.foro-link:visited {
    color: white;
    text-decoration: none;
}

.foro-link:link {
    color: white;
    text-decoration: none;
} 

.schedule-height{
    height:600px;
}

.mid-height {
    height: 282.4px;
} 

.foro-title{
    width:80%;
}
.foro-comments-icon{
    width:20%;
} 

/*------------------HORARIO-----------*/
#days {
    width:30%;
}
.slideshow-container {
    position: relative; 
    width:100%;
}
 
.mySlides {
    display: none;
    text-align: center;
}
 
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -14px;
    height: 25px;
    width: 25px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
} 
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
} 
    .prev:hover, .next:hover {
        background-color: white;
        color: white;
    }
     
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
} 
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} 

     
p{
    margin-top:5%;
}
 
.author {
    color: cornflowerblue;
}

table td {
    table-layout: fixed;
    width: 33%;
}

table tbody tr{
    height:50px;
}
td {
    text-align:center;

}

th{
    color:#ddd;
}


@media only screen and (min-width: 0px)and (max-width: 550px) {



    .accordion ul:hover li {
        height: 4em !important;
        overflow: hidden; 
        transition: height .25s; 
    }

    .accordion ul li:hover {
        height: 15em !important; 
    }

    .accordion ul:hover li .accordion-item-content {
        height: 0 !important;
        transition: height .25s;
    }

    .accordion ul li:hover .accordion-item-content {
        height: 15em !important;
    }
     
     
    #accordion-content{
        background:none;

    }
    #accordion-portlet {
        background: none;
        box-shadow:none;
        -webkit-box-shadow:none;
    }

    .accordion-item-content {
        height: 0;
        overflow: hidden;
        transition: height .25s;
    }

    .accordion .accordion-item {
        padding: 1em;
        color: #eee; 
    }

    .accordion {
        padding: 0;
        margin: 0 auto;
        margin-left:-40px;
        width: 120%;
        font-family: "PT Sans" sans-serif
    }

        .accordion .accordion-item {
            padding: 1em;
        }

        .accordion h1 {
            margin: 0;
        }

        .accordion .accordion-item:nth-child(1) {
            background-color: #ff010b;
        }

        .accordion .accordion-item:nth-child(2) {
            background-color: #ff8c00;
        }

        .accordion .accordion-item:nth-child(3) {
            background-color: #ffcc1e;
        }

    #days {
        width: 40%;
    }
}
