
@{
    ViewData["Title"] = "Encuesta respondida";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = "Listado de Encuestas", Controller = "SurveyUser", Action = "Index"},
new BreadcrumbViewData { Name = "Encuesta Respondida", Controller = null, Action = null}
};
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Encuesta Respondida
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
             <img style="margin:0 auto;width:100%; height:100%;" src="~/images/survey/opinion.jpg"/>
        </div>
    </div>
</div>
