@model AKDEMIC.INTRANET.Areas.Academic.ViewModels.StudentInformation.ChangePasswordViewModel

<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Cambiar clave
            </h3>
        </div>
    </div>
    <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
                <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon index-return"><i class="la la-close"></i></a>
            </li>
        </ul>
    </div>
</div>

<form id="password-form" class="m-form m-form--state" asp-action="_ChangePassword" asp-controller="StudentInformation" asp-area="Academic">
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            <label asp-for="Password" class="col-2 col-form-label"></label>
            <div class="col-7">
                <input class="form-control m-input" asp-for="Password" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label asp-for="ConfirmPassword" class="col-2 col-form-label"></label>
            <div class="col-7">
                <input class="form-control m-input" asp-for="ConfirmPassword" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <button type="submit" class="btn btn-primary">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>