<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Listado de pagos efectuados
            </h3>
        </div>
    </div>
    <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
                <a href="javascript:void(0)" class="m-portlet__nav-link m-portlet__nav-link--icon index-return"><i class="la la-close"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="m-portlet__body">
    <div class="m-form--label-align-right m--margin-bottom-20">
        <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">

            </div>
            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                @*<button class="btn btn-primary btn-sm m-btn m-btn--icon" data-toggle="modal" data-target="#create-observation-modal">
                    <span>
                        <i class="la la-plus"></i>
                        <span>Nueva observaci&oacute;n</span>
                    </span>
                </button>*@
                <div class="m-separator m-separator--dashed d-xl-none"></div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered" id="payment-made_table"></table>
</div>