<div id="modal-student-documents" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Documentos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Descargar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Certificado de Estudios</td>
                            <td>
                                <button class='ml-1 btn btn-default btn-sm m-btn--icon btn-student-download studentCertificate'><i class='la la-download'></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Plan de Estudios</td>
                            <td>
                                <button class='ml-1 btn btn-default btn-sm m-btn--icon btn-student-download studentCurriculum'><i class='la la-download'></i></button>
                            </td>
                        </tr>                     
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>