@model AKDEMIC.INTRANET.Areas.Academic.ViewModels.StudentInformation.ChangePasswordViewModel

@{
    ViewData["Title"] = "Situación Académica";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = "Estudiante", Controller = "StudentInformation", Action = "Index", Area = "Academic" },
new BreadcrumbViewData { Name = "Informacion", Controller = "StudentInformation", Action = "Information", Area = "Academic" },
new BreadcrumbViewData { Name = "Cambiar clave" }
};
}

@section Styles {
    <link href="~/css/areas/academic/studentinformation/information.css" rel="stylesheet" type="text/css" />
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Listado de estudiantes
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="m-input m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search" name="search">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-3 col-info">
            @await Html.PartialAsync("_GeneralData", Model.Student)
        </div>

        <div class="col-lg-9 col-options">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text"></h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a asp-action="Information" asp-controller="StudentInformation" asp-area="Academic" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-close"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <form id="form" class="m-form m-form--state" asp-action="ChangePassword" asp-controller="StudentInformation" asp-area="Academic">

                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <div class="col-10 ml-auto">
                                <h3 class="m-form__section">
                                    Cambiar Clave
                                </h3>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label asp-for="Password" class="col-2 col-form-label"></label>
                            <div class="col-7">
                                <input class="form-control m-input" asp-for="Password" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label asp-for="ConfirmPassword" class="col-2 col-form-label"></label>
                            <div class="col-7">
                                <input class="form-control m-input" asp-for="ConfirmPassword" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-10">
                                    <button type="submit" class="btn btn-primary">
                                        Guardar Cambios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/js/areas/academic/studentinformation/index.js"></script>*@
}

