<!DOCTYPE html>
<html>
<head>
    <style>
        html, body {
            height: 100%;
        }

        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .no-signature {
            width: 5%;
            border: 4px solid white;
        }

        .signature {
            /*color: red;*/
            border-top: 1px solid;
            font-size: 13px !important;
            height: 30px !important;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <table width="100%" class="footer">
        <tr>
            <td class="center" width="15%" height="60px">&emsp;</td>
            <td class="center" width="30%">&emsp;</td>
            <td class="center" width="10%">&emsp;</td>
            <td class="center" width="30%">&emsp;</td>
            <td class="center" width="15%">&emsp;</td>
        </tr>
        <tr>
            <td class="no-signature">&emsp;</td>
            <td class="center signature">SECRETARIO GENERAL</td>
            <td class="no-signature">&emsp;</td>
            <td class="center signature">DIRECTOR DE GESTIÓN ACADÉMICA</td>
            <td class="no-signature">&emsp;</td>
        </tr>
    </table>
</body>
</html>