@{
    ViewData["Title"] = "Accesso Denegado";
}

<div class="m-content">
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">No cuenta con los permisos necesarios para acceder a esta funci&oacute;n.</p>
    </header>
</div>
