@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = null;
    var institutionName = GeneralHelpers.GetInstitutionAbbreviation();

}

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus @institutionName</title>

    <link href="~/images/themes/@GeneralHelpers.GetTheme()/favicon.ico" rel="icon">

    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/css/areas/general/account/campus.css">*@

    <link href="~/css/themes/@GeneralHelpers.GetTheme()/campus.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="main-ak-container">
        <div class="ak-container" style="background-image: url(/images/login/campus/background.png)">
            <div class="middle-ak-container">
                <div class="p-0">
                    <div class="ak-row">
                        <section class="panel panel-with-borders panel-with-sidebar sidebar-large container" style="background-color:#fff !important;">
                            <div class="panel-sidebar">

                                <div class="row">
                                    <div class="col-md-6 container-ak-brand">
                                        <div class="align-self-center text-center w-100">
                                            <img class="img-responsive logo" src="~/images/themes/@GeneralHelpers.GetTheme()/campus.svg">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="app-icon">
                                            <img src="~/images/login/campus/intranet.svg" />
                                        </div>
                                        <div class="login-form-container">
                                            <h3 class="text-center">Bienvenido</h3>
                                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-action="Login" asp-controller="Account">
                                                <div asp-validation-summary="All" class="text-danger" style="font-weight: 500;"></div>
                                                <div class="group">
                                                    <input asp-for="UserName" placeholder="Usuario" name="username" autocomplete="off" />
                                                    <img class="ico" src="~/images/login/user.svg" />
                                                    <div class="bar"></div>
                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                </div>
                                                <div class="group">
                                                    <input asp-for="Password" type="password" placeholder="Contraseña" name="password" autocomplete="off" />
                                                    <i class="fa fa-eye"></i>
                                                    <img class="ico" src="~/images/login/pass.svg" />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="group">
                                                    <button id="m_login_signin_submit" class="btn button-submit">
                                                        Iniciar Sesi&oacute;n
                                                    </button>
                                                    <div class="text-center">
                                                        <a class="forget-password-label" asp-controller="Account" asp-action="ForgotPassword">¿No puedes acceder a tu cuenta?</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                     
                                    </div>
                                </div>
                            </div>


                            <div class="panel-body" style="padding-right: 15px; padding-left: 15px;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-sm-12 pl-14 pt-0 pb-0 text-center mtb-25">
                                            <span class="campus-title">
                                                <strong class="campus-label">Campus Virtual </strong>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <!--<div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://akdemic-intranet.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/intranet.svg">
                                            </div>-->

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-sisco.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/informacion_comunicacion.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-grados.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/grados_y_titulos.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-matricula.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/matricula.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-finanzas.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/finanzas.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-laurassia.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/laurassia.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" style="z-index: 1000000000000;" onclick="window.open('https://unjbg-docente.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/gestion_docentes.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-escalafon.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/escalafon.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://akdemic-bolsa.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/opus.svg" />
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-tutoria.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/tutorias.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('http://unjbg.biblioteca.akdemic.pe/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/quibuk.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-ginteres.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/grupos_interes.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-transparencia.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/portal-transparencia.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-evaluacion.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/proyeccion_social.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-investigacion.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/investigacion_formativa.svg">
                                            </div>

                                            <div class="col-md-20 col-sm-4 col-6 text-center campus-item" onclick="window.open('https://unjbg-indicadores.azurewebsites.net/', '_blank')">
                                                <img class="img-responsive" src="~/images/login/campus/indicadores.svg">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="inside-bottom-header">
                                        <a class="title-header" href="http://enchufate.pe/" target="_blank">
                                            Portal
                                        </a>
                                        <span class="separator-dot"></span>
                                        <a class="title-header" href="#" target="_blank">
                                            Brochure digital
                                        </a>
                                    </div>
                                    <div class="inside-footer" style="padding-bottom: 40px;">
                                        <a href="http://enchufate.pe/" target="_blank">
                                            <img class="img-footer" src="~/images/login/campus/footer.svg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="footer">
                        <a href="http://enchufate.pe/" target="_blank">
                            <img class="img-footer" src="~/images/login/campus/footer.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>