@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "¿Olvidó su contraseña?";
    Layout = "~/Views/Shared/Templates/Login/_Layout.cshtml";
    int NeedUserName = Convert.ToInt32(ViewBag.NeedUserName);
}

<input id="NeedUserName" value="@NeedUserName" hidden />
<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@GeneralHelpers.GetTheme()/logo.png">
        </a>
        <h1>@AKDEMIC.INTRANET.Helpers.ConstantHelpers.Project.NAME.ToUpper()</h1>
        <h5>Restablecer la contraseña</h5>
        <label>
            Introduzca su dirección de correo electrónico registrada abajo para recibir el enlace de restablecimiento de contraseña.
        </label>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger" style="font-weight: 500;"></div>
            <div class="group">
                <input asp-for="Email" placeholder="CORREO" name="email" autocomplete="off" />
                <img src="~/images/login/mail.svg" style="width: 20px;float: right;margin-top: -28px;margin-right: 5px;" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
                <div class="bar"></div>
            </div>
            <div class="group" style="margin-top:15px;display:@(NeedUserName == 0 ? "none":"block")">
                <input asp-for="UserName" placeholder="USUARIO" name="username" autocomplete="off" />
                <img src="~/images/login/user.svg" style="width: 20px;float: right;margin-top: -28px;margin-right: 5px;" />
                @*<span asp-validation-for="UserName" class="text-danger"></span>*@
                <div class="bar"></div>
            </div>

            <div class="group">
                <button class="btn button-submit" type="submit">
                    ENVIAR
                </button>
                <a class="forget-password-label" asp-controller="Account" asp-action="Login">Regresar para iniciar sesión</a>
            </div>
        </form>
    </div>
</div>