
@{
    ViewData["Title"] = "Egresados por periodo y escuela profesional";

    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = "Reporte de Estudiantes",  Action = "Student" , Controller = "IntranetReport", Area = "Report" },
new BreadcrumbViewData { Name = "Reportes de Estudiantes Egresados y por Egresar",  Action = "GraduatedStudents" , Controller = "IntranetReport", Area = "Report" },
new BreadcrumbViewData { Name = ViewData["Title"].ToString() }
    };

}
<input type="hidden" id="StudentId" />
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <a asp-controller="IntranetReport" asp-area="Report" asp-action="Student" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only"><i class="la la-arrow-left"></i></a>
                    &nbsp;
                    <h3 class="m-portlet__head-text">
                        @ViewData["Title"]
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-bottom-20">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-3">
                                <label>Periodo:</label>
                                <select id="term_select" class="m-select2"></select>
                            </div>
                            <div class="form-group m-form__group col-xl-3">
                                <label>Facultad:</label>
                                <select id="faculty_select" class="m-select2"></select>
                            </div>
                            <div class="form-group m-form__group col-xl-3">
                                <label>Escuela Profesional:</label>
                                <select id="career_select" class="m-select2"></select>
                            </div>
                            <div class="form-group m-form__group col-xl-3">
                                <label>Plan de Estudio:</label>
                                <select id="curriculum_select" class="m-select2"></select>
                            </div>
                            <div class="form-group m-form__group col-xl-4">
                                <label>&nbsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 order-1 order-xl-2 m--align-right">
                        <button id="btn_search_student" class="m-btn--md btn btn-primary m-btn m-btn--custom m-btn--icon">
                            <span>
                                <i class="la la-search"></i>
                                <span>Buscar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modal_student_history" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Historial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-4">
                        <label>Filtrar por ciclo</label>
                        <select class="m-select2" id="academicyear-select">
                            <option value="-1">Todos</option>
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                            <option value="5">V</option>
                            <option value="6">VI</option>
                            <option value="7">VII</option>
                            <option value="8">VIII</option>
                            <option value="9">XI</option>
                            <option value="10">X</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label>&nbsp;</label>
                        <div class="m-input m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input" placeholder="Buscar por curso..." id="history-search">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <span>
                                <b>Créditos aprobados: </b> <span id="credit_approved">0</span>
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered"  id="student_history"></table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/areas/admin/graduatedstudent/index.js" asp-append-version="true"></script>
}