
div.pager {
    text-align: right;
    margin: 1em 0;
}

    div.pager span {
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8;
        text-align: center;
        cursor: pointer;
        background: #808080;
        color: #fff;
        margin-right: 0.5em;
    }

        div.pager span.active {
            background: rgba(255, 57, 57, 0.5098039215686274);
        }

.btn-event-type {
    border: none;
}

.btn-read-more:hover {
    background-color: #fbfbfb;
    border-color: none;
}

.bottom-rigth-radius {
    border-bottom-right-radius: 20px;
}

.publication-margin {
    margin-left: 50%;
}
.date-style {
    color: rgba(255, 57, 57, 0.5098039215686274);
    font-weight: 500;
}

.survey-detail {
    background-color: #2C2E4A;
    color: #ffffff;
    height: 200px;
    border-bottom-right-radius: 20px;
    border-bottom: 20px solid #2C2E4A;
}

.btn-detail {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin-right: 15px;
    height: 60px;
    width: 20%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 57, 57, 0.5098039215686274);
}

.btn-detail:hover{
    color:inherit;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
} 
.icon-arrow {
    margin-top: 20%;
    margin-left: 30%;
    font-size: 30px;
}

.padding-description {
    padding-top: 1.2rem;
    max-width: 100%;
    height: auto;
}

.curve {
    width: 75%;
    background-color: #2C2E4A;
    position: absolute;
    bottom: 23px;
    left: 0;
    margin-left: 15px;
    height: 20px;
    border-bottom-right-radius: 20px;
}
 
@media only screen and (min-width: 0px)and (max-width: 550px) {
    .btn-detail {
        position: absolute;
        bottom: 35px;
        right: 0;
        margin-right: 15px;
        height: 60px;
        width: 20%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(255, 57, 57, 0.5098039215686274);
    }

    .curve {
        width: 74%;
        background-color: #333333;
        position: absolute;
        bottom: 35px;
        left: 0;
        margin-left: 15px;
        height: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
    .btn-detail {
        position: absolute;
        bottom: 35px;
        right: 0;
        margin-right: 15px;
        height: 60px;
        width: 20%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(255, 57, 57, 0.5098039215686274);
    }

    .curve {
        width: 77%;
        background-color: #333333;
        position: absolute;
        bottom: 35px;
        left: 0;
        margin-left: 15px;
        height: 20px;
        border-bottom-right-radius: 20px;
    }
}
@media (min-width: 1024px) and (max-width:1200px) {
    .btn-detail {
        position: absolute;
        right: 0;
        margin-right: 15px;
        height: 60px;
        width: 15%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(255, 57, 57, 0.5098039215686274);
    }
    .curve {
        width: 82%;
        background-color: #333333;
        position: absolute;
        bottom: 23px;
        left: 0;
        margin-left: 15px;
        height: 20px;
        border-bottom-right-radius: 20px;
    }
}