@{
    ViewBag.Breadcrumbs = new[] {
new BreadcrumbViewData { Name = "Home", Controller = "Home", Action = "Index" },
new BreadcrumbViewData {Name="Generación de relación de grados, títulos y diplomas", Controller=null, Action=null}
};
}
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Generación de relación de grados, títulos y diplomas
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">

                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button type="button" class="m-portlet__nav-link btn btn-success m-btn m-btn--pill m-btn--air btn-generate">
                                    Generar relación
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <form class="form-horizontal" id="frmSearch" role="form">
                        <div class="form-group m-form__group row">
                            <div class="col-md-4 m-form__group-sub">
                                <label>Fecha inicio:</label>
                                <input id="StartDate" name="StartDate" class="form-control m-input" placeholder="Fecha inicio" autocomplete="off" required>
                            </div>
                            <div class="col-md-4 m-form__group-sub">
                                <label>Fecha fin:</label>
                                <input id="EndDate" name="EndDate" class="form-control m-input" placeholder="Fecha fin" autocomplete="off" required>
                            </div>
                            <div class="col-md-4 m-form__group-sub">
                                <label>N° Libro:</label>
                                <input id="BookCode" name="BookCode" type="text" class="form-control m-input" placeholder="Número de libro" autocomplete="off" />
                            </div>
                        </div>
                        <div style="text-align:right;">
                            <button id="btnSearch" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                                <span class="ladda-label">Buscar</span>
                            </button>
                        </div>
                    </form>
                    <br />
                    @*<div class="m-input m-input-icon m-input-icon--left">
                        <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar por nombre..." id="searchFullName">
                        <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                    </div>*@
                    <table class="table table-striped table-bordered" id="tbl-datatable-registry-relations"> </table>
                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/js/modules/form.js"></script>
    <script src="~/js/areas/admin/generate_relation/index.js"></script>
}
