@model AKDEMIC.INTRANET.Areas.Teacher.Models.ExtraordinaryEvaluationViewModels.GradeViewModel
@{
    ViewData["Title"] = "Calificación de Evaluaciones Extraordinarias";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData { Name = " Evaluaciones Extraordinarias" }
};
}

<div class="m-content">
    <div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Listado de evaluaciones extraordinarias
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Buscar curso..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/teacher/extraordinaryevaluation/index.js"></script>
}

